{% extends "search.html" %}

{% block content %}
<style>
        .addcartbutton:hover {
                transform: scale(1.2);

        }
</style>
{% for i in object_list %}

<div style="margin-left: 41% ;">
        <h2> {{ i.title }}</h2>
        <div style="display:flex ;">
                <img src="{{ i.image.url }}" , width=200px height="250px"><br>
                <div style="margin-left:50px ;margin-top: 15%;">
                        Brand : {{ i.brand }}<br>
                        price: Rs{{ i.price }}<br>
                        stock: {{ i.stock }}<br>
                        <br>
                        <form method="post" action="{% url 'add_to_cart' i.id %}">
                                {% csrf_token %}
                                <button class="addcartbutton"
                                        style=" height: 30px; border-radius: 5px; background-color: dimgray; color: white;">Add
                                        to Cart</button><br>
                        </form>
                        {% if i in wishlist %}
                        <br>
                        <form method="post" action="{% url 'rm_wish' i.id %}">
                                {% csrf_token %}
                                <button style="margin-left:100%;margin-top: -65%;width: 10px;height: 10px;"><img style="width: 25px;height: 25px;margin-top: -10px;margin-left: -10px;" src="/images/heart.png"
                                              ></button><br>
                        </form>
                        {% else %}
                        <br>
                        <form method="post" action="{% url 'wishlist' i.id %}">
                                {% csrf_token %}
                                <button style="margin-left:100%;margin-top: -65%;width: 10px;height: 10px;"><img style="width: 25px;height: 25px;margin-top: -10px;margin-left: -10px;"
                                                src="https://image.pngaaa.com/267/2267-middle.png"></button><br>
                        </form>
                        {% endif %}

                </div>
        </div>
</div>

{% endfor %}
{% endblock %}