{% extends "search.html" %}

{% block content %}
{% for i in object_list %}
<div style="margin-left: 41% ;">
                <h2> {{ i.title }}</h2>
                <div style="display:flex ;">
                <img src="{{ i.image.url }}" , width=150px><br>
                <div style="margin-left:50px ;margin-top: 15%;">
                Brand : {{ i.brand }}<br>
                price: Rs{{ i.price }}<br>
                stock: {{ i.stock }}<br>
                <br>
                <a href="{% url 'add_to_cart' i.id %}"> <button>Add to Cart</button></a> 
        </div>
       </div> 
</div>
{% endfor %}


{% endblock %}