{% extends "search.html" %}

{% block content %}
{% for i in object_list %}

<div style="margin-left: 41% ;">
                <h2> {{ i.title }}</h2>
                <div style="display:flex ;">
                <img src="{{ i.image.url }}" , width=150px><br>
                <div style="margin-left:50px ;margin-top: 15%;">
                Brand : {{ i.brand }}<br>
                price: Rs{{ i.price }}<br>
                stock: {{ i.stock }}<br>
                <br>
                <form method="post" action="{% url 'add_to_cart' i.id %}">
                        {% csrf_token %}
                <a href="{% url 'add_to_cart' i.id %}"> <button>Add to Cart</button></a><br>
                {% if i in wishlist %}
                <br>
                <a href="{% url 'rm_wish' i.id %}"><img src="/images/heart.png" width="20px"></a>
                {% else %}
                <br>
                <a href="{% url 'wishlist' i.id %}"><img src="https://image.pngaaa.com/267/2267-middle.png" width="20px"></a>
                {% endif %}
       
        </div>
       </div> 
</div>
</form>
{% endfor %}
{% endblock %}