{% extends "search.html" %}

{% block content %}
{% for j in object_list %}

<div>

        <center>
                {% for i in j.items.all%}
                <center>
                        <h2> {{ i.product.title }}</h2>
                        <img src="{{ i.product.image.url }}" , width=150px><br>
                        price :Rs {{i.price}}<br>
                        quntity : {{i.quantity}}<br>
                        tax : {{j.tax}}% <br>
                        order_status : {{j.order_status}}<br>
                        <br>
                        <a href="{% url 'order_remove' i.id %}"><button>remove</button></a><br>
                </center>
        </center>
</div>
{% endfor %}
{% endfor %}
<br>
<center>
        <h4>sub total :Rs  {{sub_total}}</h4>
        <h4>tax charges : {{tax|floatformat:2}} </h4>
        <h4>total_price:Rs  {{total_price}} </h4>
        <br>
        <a href="{% url 'order_place' %}"><button>place order</button></a>
</center>

{% endblock %}