{% extends "search.html" %}
{% block content %}
{% for i in object_list %}
{% for j in i.product.all%}
<center>
    <h2> {{ j.title }} </h2>
    <img src="{{ j.image.url }}" , width=150px><br>
    Brand :{{ j.brand }}<br>
    price :Rs{{ j.price }} <br>
    <form method="post" action="{% url 'rm_wish' i.id %}">
        {% csrf_token %}
<button>remove</button><br>
</form>
    <br>
    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'add_to_cart' j.id %}">
        {% csrf_token %}
<button>Add to Cart</button><br>
</form>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <a href="/all/"> back to home</a>
</center>
{% endblock %}